<div class="w-full space-y-4">
  <div class="flex space-x-4 w-full">
    <z-skeleton class="h-4 flex-grow-[2] min-w-0" />

    @for (i of [].constructor(cols() - 1); track i) {
      <z-skeleton class="h-4 flex-grow min-w-0" />
    }
  </div>

  <div class="space-y-3">
    @for (i of [].constructor(lines()); track i) {
      <div class="flex items-center space-x-4 w-full">
        <z-skeleton class="h-4 flex-grow-[2] min-w-0" />

        @for (j of [].constructor(cols() - 1); track j) {
          <z-skeleton class="h-4 flex-grow min-w-0" />
        }
      </div>
    }
  </div>
</div>
