<app-page-header [title]="pageTitle()">
  <button z-button zType="outline" [backOrNavigateTo]="['users']">
    Voltar
  </button>
</app-page-header>

<form
  class="flex flex-col gap-6"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="grid grid-cols-2 gap-4">
    <div class="col-span-2">
      <app-text-input
        id="nome"
        label="Nome"
        formControlName="nome"
      />
    </div>

    <div>
      <app-text-input
        id="email"
        label="Email"
        type="email"
        formControlName="email"
      />
    </div>

    <div>
      <app-text-input
        id="password"
        label="Senha"
        inputType="password"
        formControlName="password"
      />

      @if (isEditMode()) {
        <small class="text-xs text-gray-500 dark:text-gray-400 mt-1">
          Deixe em branco para manter a senha atual.
        </small>
      }
    </div>

    <div>
      <app-select
        label="Nível de Acesso"
        formControlName="accessLevel"
        [options]="userAccessLevelOptions"
        (onSelectionChange)="onAccessLevelChange($event)"
      />
    </div>

    <div></div>

    @if (accessLevel() && accessLevel() !== UserAccessLevelEnum.Admin) {
      @if(!isAdminBehindTheScenes()) {
        <div>
          <div class="w-full flex flex-col border p-6 rounded-lg gap-4">
            <div class="flex justify-between items-center">
              <div class="text-md font-semibold">Acesso a Setores</div>
              <button z-button zType="outline" type="button" (click)="openSectorSelect()">Editar</button>
            </div>
            <div class="flex gap-2 flex-wrap">
              @for (sector of selectedSectors(); track sector.id) {
                <z-badge
                  zType="outline"
                  class="transition-colors text-nowrap"
                >
                  {{ sector.name }}
                </z-badge>
              } @empty {
                <small class="text-muted-foreground">Sem setores selecionados.</small>
              }
            </div>
          </div>
        </div>
      }

      <div>
        <div class="w-full flex flex-col border p-6 rounded-lg gap-4">
          <div class="flex justify-between items-center">
            <div class="text-md font-semibold">Acesso a Clientes</div>
            <button z-button zType="outline" type="button" (click)="openClientSelect()">Editar</button>
          </div>
          <div class="flex gap-2 flex-wrap">
            @for (client of clientsWithPrimaryFirst(); track client.id) {
              <z-badge
                zType="outline"
                class="transition-colors text-nowrap"
                [ngClass]="{
                  'text-green-400 border-green-400 hover:text-green-300 hover:border-green-300': client.isPrimary
                }"
              >
                {{ client.nome }}{{ client.isPrimary ? ' (Principal)' : '' }}
              </z-badge>
            } @empty {
              <small class="text-muted-foreground">Sem clientes selecionados.</small>
            }
          </div>
        </div>
        @if (getClientsError(); as error) {
          <z-form-message zType="error">{{ error }}</z-form-message>
        }
      </div>

      @if (!isAdminBehindTheScenes()) {
        <div class="col-span-2">
          <app-checkbox
            label="Visualiza apenas tasks assinadas"
            formControlName="onlyAttachedTasks"
          />
        </div>
      }
    }
  </div>

  {{ form.value | json }}

  <div class="flex grow items-center justify-end gap-2">
    <button z-button zType="outline" type="button" [backOrNavigateTo]="['users']">
      Cancelar
    </button>

    <button z-button type="submit">
      {{ submitButtonText() }}
    </button>
  </div>
</form>
