<div class="w-full h-16 bg-white border-b border-[#f8fafc] shadow-sm">
  <div class="flex items-center justify-between h-full 3">
    <div class="flex items-center">
      <img ngSrc="images/logo/logo.png" width="200" height="60" alt="Logo" priority>
    </div>

    <div class="flex items-center space-x-4 pr-6">
      <button class="relative w-10 h-10 flex items-center justify-center text-gray-600 hover:text-gray-800 hover:bg-gray-100 rounded-lg transition-colors" title="Notificações">
        <i-lucide [img]="icons.notificationBell" />

        <span class="absolute -top-1 -right-1 w-3 h-3 bg-red-500 rounded-full"></span>
      </button>

      <z-avatar
        zSize="default"
        zShape="rounded"
        zVariant="custom"
        class="cursor-pointer hover:opacity-80 transition-opacity"
        [fallback]="userInitials()"
      />
    </div>
  </div>
</div>
