<app-page-header title="Cadastro de Novo Usuário">
  <button z-button zType="outline" [backOrNavigateTo]="['users']">
    Voltar
  </button>
</app-page-header>

<form
  class="flex flex-col gap-6"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="grid grid-cols-2 gap-4">
    <div class="col-span-2">
      <app-text-input
        id="nome"
        label="Nome"
        formControlName="nome"
      />
    </div>

    <div>
      <app-text-input
        id="email"
        label="Email"
        type="email"
        formControlName="email"
      />
    </div>

    <div>
      <app-text-input
        id="password"
        label="Senha"
        type="password"
        formControlName="password"
      />
    </div>

    <div>
      <app-select
        label="Nível de Acesso"
        formControlName="accessLevel"
        [options]="userAccessLevelOptions"
        (onSelectionChange)="onAccessLevelChange($event)"
      />
    </div>

    <div></div>

    @if (!isAdminBehindTheScenes() && accessLevel()) {
      <div>
        <div class="w-full flex flex-col border p-6 rounded-lg gap-4">
          <div class="flex justify-between items-center">
            <div class="text-md font-semibold">Acesso a Setores</div>
            <button z-button zType="outline" type="button" (click)="openSectorSelect()">Editar</button>
          </div>
        </div>
      </div>

      <div>
        <div class="w-full flex flex-col border p-6 rounded-lg gap-4">
          <div class="flex justify-between items-center">
            <div class="text-md font-semibold">Acesso a Clientes</div>
            <button z-button zType="outline" type="button" (click)="openClientSelect()">Editar</button>
          </div>
          <div class="flex gap-2">
            @for (client of clientsWithPrimaryFirst(); track client.id) {
              <z-badge
                zType="outline"
                class="transition-colors text-nowrap"
                [ngClass]="{
                  'text-green-400 border-green-400 hover:text-green-300 hover:border-green-300': client.isPrimary,
                  'text-blue-400 border-blue-400 hover:text-blue-300 hover:border-blue-300': !client.isPrimary
                }"
              >
                {{ client.nome }}{{ client.isPrimary ? ' (Principal)' : '' }}
              </z-badge>
            } @empty {
              <small class="text-muted-foreground">Sem clientes selecionados.</small>
            }
          </div>
        </div>
      </div>

      <div class="col-span-2">
        <app-checkbox
          label="Visualiza apenas tasks assinadas"
          formControlName="onlyAttachedTasks"
        />
      </div>
    }
  </div>

  {{ form.value | json }}

  <div class="flex grow items-center justify-end gap-2">
    <button z-button zType="outline" type="button">Cancelar</button>
    <button z-button type="submit">Salvar</button>
  </div>
</form>
