<app-page-header title="Cadastro de Novo Usuário">
  <button z-button zType="outline" [backOrNavigateTo]="['users']">
    Voltar
  </button>
</app-page-header>

<form
  class="grid grid-cols-2 gap-4"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="col-span-2">
    <app-text-input
      id="nome"
      label="Nome"
      formControlName="nome"
    />
  </div>
  <div>
    <app-text-input
      id="email"
      label="Email"
      type="email"
      formControlName="email"
    />
  </div>
  <div>
    <app-text-input
      id="password"
      label="Senha"
      type="password"
      formControlName="password"
    />
  </div>
  <div>
    Select do Cliente Principal
  </div>
  <div>
    <z-form-field>
      <label z-form-label zRequired for="accessLevel">Nível de Acesso</label>
      <z-form-control [errorMessage]="isFieldInvalid('accessLevel') ? 'Nível de Acesso é obrigatório' : ''">
        <z-select zPlaceholder="Selecione..." formControlName="accessLevel" (zSelectionChange)="onAccessLevelChange($event)">
          <z-select-item [zValue]="UserAccessLevelEnum.Admin">Admin</z-select-item>
          <z-select-item [zValue]="UserAccessLevelEnum.ColaboradorCliente">Colaborador</z-select-item>
          <z-select-item [zValue]="UserAccessLevelEnum.GestorCliente">Gestor</z-select-item>
          <z-select-item [zValue]="UserAccessLevelEnum.Consultor">Consultor</z-select-item>
        </z-select>
      </z-form-control>
    </z-form-field>
  </div>
  @if (!isAdminBehindTheScenes() && accessLevel()) {
    <div>
      <z-form-field>
        <z-form-control class="flex flex-col">
          <div class="flex items-center space-x-2">
            <z-checkbox id="onlyAttachedTasks" formControlName="onlyAttachedTasks" />
            <label z-form-label class="!mb-0" zRequired for="onlyAttachedTasks">Visualiza apenas tasks assinadas</label>
          </div>
        </z-form-control>
      </z-form-field>
    </div>
  }
</form>
